.side_bar
  .side_header
    .side_header__box
      %p.side_header__box__name
        masa
      %ul.side_header__box__icon
        %li.side_header__box__icon__edit
          = link_to "#" do
            %i.fa.fa-edit
        %li.side_header__box__icon__group
          = link_to "#" do
            %i.fa.fa-cog
      
  .groups
    .groups__box1
      .groups__box1__title
        techcamp
      .groups__box1__text
        まだメッセージがありません